openapi: 3.0.3
info:
  title: KINETK Graph Service API
  version: 1.0.0
  description: |
    Public HTTP API for the KINETK graph-service. Health/sync probe,
    precomputed narrative reads, and an async job queue for heavy
    intelligence work (`intelligence_search`, `intelligence_discover`,
    `campaign_brief`, `llm_context`).

    All endpoints require the `x-api-key` header.

    Internal engineers: see `openapi-internal.yaml` for the superset spec
    that documents debug-only request flags and diagnostic response fields.
  contact:
    name: KINETK Engineering
  license:
    name: Proprietary
servers:
  - url: https://api.kinetk.ai/graph
    description: Production.
  - url: https://{apiId}.execute-api.us-east-1.amazonaws.com/{stage}
    description: Direct API Gateway invoke URL (bypass custom domain).
    variables:
      apiId:
        default: example
      stage:
        default: prod
        enum: [dev, prod]
security:
  - ApiKeyAuth: []
paths:
  /health:
    get:
      summary: Health + sync-freshness probe
      description: Liveness probe with DB connectivity and ingestion freshness. Returns `503` when the DB is unreachable.
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /narratives/trending:
    get:
      summary: Top precomputed narratives for a window
      description: >-
        Reads precomputed narrative clusters for a bounded window
        (`24h | 7d | 30d`; `all` is coerced to `7d`). For live retrieval, submit
        `POST /intelligence/jobs` with `kind: intelligence_discover`.
      operationId: listTrendingNarratives
      parameters:
        - $ref: "#/components/parameters/Window"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Trending narratives for the requested window
          content:
            application/json:
              schema:
                type: object
                required: [window, narratives]
                properties:
                  window:
                    $ref: "#/components/schemas/NarrativeWindow"
                  narratives:
                    type: array
                    items:
                      $ref: "#/components/schemas/NarrativeCluster"
        default:
          $ref: "#/components/responses/Error"
  /narratives/search:
    get:
      summary: Filtered search over precomputed narratives
      description: >-
        Free-text search over precomputed narrative clusters, ranked by
        relevance. Same `24h | 7d | 30d` window constraint as
        `/narratives/trending`. For live retrieval, use `POST /intelligence/jobs`
        with `kind: intelligence_discover`.
      operationId: searchNarratives
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
        - $ref: "#/components/parameters/Window"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Narratives matching the search query
          content:
            application/json:
              schema:
                type: object
                required: [query, window, narratives]
                properties:
                  query:
                    type: string
                  window:
                    $ref: "#/components/schemas/NarrativeWindow"
                  narratives:
                    type: array
                    items:
                      $ref: "#/components/schemas/NarrativeCluster"
        "400":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /narratives/{id}:
    get:
      summary: Drill into one precomputed narrative
      description: Full evidence bundle for one narrative cluster — header, content rows, top creators, per-platform breakdown, duplicate groups.
      operationId: getNarrativeDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Narrative detail with supporting evidence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NarrativeDetailResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /creators:
    get:
      summary: Batch creator lookup
      description: |
        Fetch multiple creator profiles in one request. Returns `200` with
        `creators[]` (resolved rows) and `missingIds[]` (unresolved ids);
        never 404s on a partial miss. Cap: 500 unique ids per request.
      operationId: getCreatorsBatch
      parameters:
        - name: ids
          in: query
          required: true
          description: Comma-separated positive integer `creators.id` values (max 500 unique).
          schema:
            type: string
            example: "42,99,1234"
      responses:
        "200":
          description: Batch of creator profiles + unresolved ids
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorBatchResponse"
        "400":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /creators/{id}:
    get:
      summary: Drill into one creator
      description: One creator profile by `creators.id`. `id` is the numeric PK, not the synthetic graph-node id.
      operationId: getCreatorDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Creator profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorDetailResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /intelligence/jobs:
    post:
      summary: Submit an async intelligence job
      description: |
        Submit a job for async execution. Request body is `{ kind, input }`
        discriminated by `kind` (see `JobSubmitRequest`).

        Response shapes:
        - `200 + { fromCache: true, result }` — identical recent job within
          the per-kind freshness window; cached result returned synchronously.
        - `202 + { dedup: true }` — identical job currently queued/running;
          reuses the in-flight `jobId`.
        - `202` — new job accepted; poll `GET /intelligence/jobs/{id}`.

        Freshness windows: `intelligence_search` 15 min, `intelligence_discover` 1 h, `campaign_brief` / `llm_context` 6 h.
      operationId: submitIntelligenceJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobSubmitRequest"
      responses:
        "200":
          description: Cached result returned synchronously
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSubmitCacheHitResponse"
        "202":
          description: Job accepted (queued or deduplicated against a running job)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSubmitAcceptedResponse"
        "400":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /intelligence/jobs/{id}:
    get:
      summary: Poll an async job — status + final result
      description: |
        Returns the job's current state. All states (`queued`, `running`,
        `succeeded`, `failed`) return `200`; `404` for unknown `jobId`, `410`
        when the result has expired (~24h after completion).

        On `succeeded`, `result` carries the per-kind payload. Large results
        (>300 KB) are rehydrated transparently from object storage.

        Recommended polling cadence: every 2–5 seconds. Typical end-to-end
        run: 5–20 s.
      operationId: getIntelligenceJob
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "410":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API Gateway API key. Required on every endpoint. Missing or wrong → `403`.
  parameters:
    Window:
      name: window
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/NarrativeWindow"
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 12
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
    NarrativeWindow:
      type: string
      enum: [24h, 7d, 30d]
      default: 7d
      description: Bounded window for precomputed narrative endpoints. `all` is coerced to `7d`.
    QueryWindow:
      type: string
      enum: [24h, 7d, 30d, all]
      default: all
      description: Time window for live-retrieval jobs. `all` disables the published-at filter.
    HealthResponse:
      type: object
      required: [status, stage, db, sync, durationMs, timestamp]
      properties:
        status:
          type: string
          enum: [ok, error]
        stage:
          type: string
        db:
          type: string
          enum: [connected, unreachable]
        dbError:
          type: string
        sync:
          type: object
          required: [lastRunAt, minutesSinceLastRun, isStale, lastCycle, today]
          properties:
            lastRunAt:
              type: string
              nullable: true
              format: date-time
            minutesSinceLastRun:
              type: integer
              nullable: true
            isStale:
              type: boolean
            lastCycle:
              # OpenAPI 3.0: an explicit `type: object` is required next to
              # `nullable: true` for the validator to accept it. The `allOf`
              # pulls in the SyncStats fields.
              type: object
              nullable: true
              allOf:
                - $ref: "#/components/schemas/SyncStats"
            today:
              nullable: true
              type: object
              properties:
                processedCount:
                  type: integer
                insertedCount:
                  type: integer
        durationMs:
          type: integer
        timestamp:
          type: string
          format: date-time
    SyncStats:
      type: object
      required: [processedCount, insertedCount, durationMs]
      properties:
        processedCount:
          type: integer
        insertedCount:
          type: integer
        durationMs:
          type: integer
    NarrativeCluster:
      type: object
      required: [id, window_key, label, summary, momentum_score, emerging_score, content_count, creator_count, platform_count, total_engagement, top_tags]
      properties:
        id:
          type: integer
        window_key:
          $ref: "#/components/schemas/NarrativeWindow"
        window_start:
          type: string
          format: date-time
        window_end:
          type: string
          format: date-time
        label:
          type: string
        summary:
          type: string
        momentum_score:
          type: number
        emerging_score:
          type: number
        content_count:
          type: integer
        creator_count:
          type: integer
        platform_count:
          type: integer
        total_engagement:
          type: integer
        top_tags:
          type: array
          items:
            type: string
        representative_content_uuid:
          type: string
          nullable: true
        score_breakdown:
          type: object
          additionalProperties: true
        computed_at:
          type: string
          format: date-time
    NarrativeDetailResponse:
      type: object
      required: [narrative, content, creators, platformBreakdown, duplicateGroups]
      properties:
        narrative:
          $ref: "#/components/schemas/NarrativeCluster"
        content:
          type: array
          items:
            $ref: "#/components/schemas/NarrativeContentEvidence"
        creators:
          type: array
          items:
            type: object
            additionalProperties: true
        platformBreakdown:
          type: array
          items:
            type: object
            additionalProperties: true
        duplicateGroups:
          type: array
          items:
            type: object
            additionalProperties: true
    NarrativeContentEvidence:
      type: object
      required: [uuid, platform, tags]
      properties:
        uuid:
          type: string
        platform:
          type: string
          nullable: true
        content_id:
          type: string
          nullable: true
        content_url:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        author_handle:
          type: string
          nullable: true
        view_count:
          type: integer
          nullable: true
        like_count:
          type: integer
          nullable: true
        share_count:
          type: integer
          nullable: true
        comment_count:
          type: integer
          nullable: true
        published_at:
          type: string
          nullable: true
          format: date-time
        tags:
          type: array
          items:
            type: string
        relevance_score:
          type: number
        is_representative:
          type: boolean
    CreatorDetailResponse:
      type: object
      required: [creator]
      properties:
        creator:
          $ref: "#/components/schemas/CreatorProfile"
    CreatorBatchResponse:
      type: object
      required: [creators, missingIds]
      properties:
        creators:
          type: array
          description: Profile rows for every requested id that resolved. Order is not guaranteed to match the request.
          items:
            $ref: "#/components/schemas/CreatorProfile"
        missingIds:
          type: array
          description: Requested ids that did not match any `creators.id`. Always present; may be empty.
          items:
            type: integer
    CreatorProfile:
      type: object
      required: [id, platform, handle]
      properties:
        id:
          type: integer
          description: Stable `creators.id` PK.
        platform:
          type: string
        handle:
          type: string
        display_name:
          type: string
          nullable: true
        follower_count:
          type: integer
          nullable: true
        following_count:
          type: integer
          nullable: true
        total_likes:
          type: integer
          nullable: true
        video_count:
          type: integer
          nullable: true
        is_verified:
          type: boolean
          nullable: true
        is_private:
          type: boolean
          nullable: true
        updated_at:
          type: string
          format: date-time
    QueryIntelligenceRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          description: Free-text query. Hashtags in the query are auto-extracted and used as a tag-overlap widening filter when vector retrieval under-fills `limit`.
        platforms:
          type: array
          items:
            type: string
          description: Optional uppercase platform whitelist (e.g. `["TIKTOK", "INSTAGRAM"]`).
        vectors:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: Use `all_media` (default) or a list/comma-separated value such as `image_vector,video_vector`.
          default: all_media
        limit:
          type: integer
          minimum: 100
          maximum: 50000
          default: 1000
          description: Max ranked content rows to return. Clamped to [100, 50000].
        maxDistance:
          type: number
          nullable: true
        expandQuery:
          type: boolean
          default: true
          description: When true, generate 3 LLM-expanded query variants and fan out retrieval across them.
        clusterCount:
          type: integer
          minimum: 2
          maximum: 8
          description: Optional query-time semantic cluster count.
        window:
          $ref: "#/components/schemas/QueryWindow"
    IntelligenceSearchResponse:
      type: object
      required: [type, generatedAt, query, window, content, graph]
      properties:
        type:
          type: string
          enum: [kinetk.query_intelligence.search.v1]
        generatedAt:
          type: string
          format: date-time
        query:
          type: string
        window:
          $ref: "#/components/schemas/QueryWindow"
        content:
          type: array
          items:
            $ref: "#/components/schemas/RankedContent"
        graph:
          $ref: "#/components/schemas/QueryGraph"
    QueryNarrativeDiscoveryResponse:
      type: object
      required: [type, generatedAt, query, window, content, narratives, topTags, tagGraph, tagCombinations, tagNarrativeMap, creators, creatorGraph, platformOpportunities, tagSignals, attributeLifts, insights, tagInsights, narrativeInsights, contentGraph, narrativeGraph, graph]
      properties:
        type:
          type: string
          enum: [kinetk.query_intelligence.narrative_discovery.v1]
        generatedAt:
          type: string
          format: date-time
        query:
          type: string
        window:
          $ref: "#/components/schemas/QueryWindow"
        content:
          type: array
          items:
            $ref: "#/components/schemas/RankedContent"
        narratives:
          type: array
          items:
            $ref: "#/components/schemas/QueryNarrative"
        topTags:
          type: array
          items:
            $ref: "#/components/schemas/QueryTopTag"
        tagGraph:
          $ref: "#/components/schemas/QueryGraph"
        tagCombinations:
          type: array
          items:
            $ref: "#/components/schemas/TagCombination"
        tagNarrativeMap:
          type: array
          items:
            $ref: "#/components/schemas/TagNarrativeRole"
        creators:
          type: array
          items:
            $ref: "#/components/schemas/QueryCreator"
        creatorGraph:
          $ref: "#/components/schemas/QueryGraph"
        platformOpportunities:
          type: array
          items:
            $ref: "#/components/schemas/PlatformOpportunity"
        tagSignals:
          type: array
          description: Per-tag arbitrage opportunity scores. High `opportunityScore` = tag is platform-concentrated AND has high engagement premium.
          items:
            $ref: "#/components/schemas/TagSignal"
        attributeLifts:
          type: array
          description: Per-narrative tag-level engagement lift (with-tag vs without-tag rows in the same cluster).
          items:
            $ref: "#/components/schemas/NarrativeAttributeLift"
        insights:
          type: array
          description: 4–6 LLM-generated arbitrage prose lines. Empty `[]` on LLM failure or empty inputs.
          items:
            type: string
        tagInsights:
          type: array
          description: 4–6 LLM-generated tag-only arbitrage prose lines. Empty `[]` on LLM failure or empty tag inputs.
          items:
            type: string
        narrativeInsights:
          type: array
          description: 4–6 LLM-generated narrative-only arbitrage prose lines. Empty `[]` on LLM failure or empty narrative inputs.
          items:
            type: string
        contentGraph:
          $ref: "#/components/schemas/QueryGraph"
        narrativeGraph:
          $ref: "#/components/schemas/QueryGraph"
        graph:
          $ref: "#/components/schemas/QueryGraph"
    RankedContent:
      type: object
      required: [uuid, tags, targetVectors, rrfScore, rawSimilarity, similarity, engagementScore, recencyScore, authorReach, engagementDepth, finalScore]
      properties:
        uuid:
          type: string
        weaviateId:
          type: string
          nullable: true
        platform:
          type: string
          nullable: true
        contentType:
          type: string
          nullable: true
        contentUrl:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        authorHandle:
          type: string
          nullable: true
        authorName:
          type: string
          nullable: true
        creatorId:
          type: integer
          nullable: true
        followerCount:
          type: integer
          nullable: true
        publishedAt:
          type: string
          nullable: true
          format: date-time
        tags:
          type: array
          items:
            type: string
        viewCount:
          type: integer
        likeCount:
          type: integer
        shareCount:
          type: integer
        commentCount:
          type: integer
        targetVectors:
          type: array
          items:
            type: string
        rrfScore:
          type: number
        rawSimilarity:
          type: number
        similarity:
          type: number
        engagementScore:
          type: number
        recencyScore:
          type: number
        authorReach:
          type: number
        engagementDepth:
          type: number
        finalScore:
          type: number
    QueryGraph:
      type: object
      required: [nodes, edges]
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/QueryGraphNode"
        edges:
          type: array
          items:
            $ref: "#/components/schemas/QueryGraphEdge"
    QueryGraphNode:
      type: object
      required: [id, type, label]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [content, tag, creator, narrative]
        label:
          type: string
        score:
          type: number
        creatorId:
          type: integer
          description: >-
            Stable `creators.id` PK. Populated only on `type: creator` nodes.
            Use as the path param for `GET /creators/{id}`.
    QueryGraphEdge:
      type: object
      required: [source, target, type, weight]
      properties:
        source:
          type: string
        target:
          type: string
        type:
          type: string
          enum: [semantic_similarity, tag_overlap, creator_posted, tagged_with, contains]
        weight:
          type: number
    QueryNarrative:
      type: object
      required: [id, label, summary, trendScore, contentCount, creatorCount, platformCount, totalEngagement, topTags, representativeContent, contentUuids, scoreBreakdown]
      properties:
        id:
          type: string
        label:
          type: string
        summary:
          type: string
        trendScore:
          type: number
        contentCount:
          type: integer
        creatorCount:
          type: integer
        platformCount:
          type: integer
        totalEngagement:
          type: integer
        topTags:
          type: array
          items:
            type: string
        representativeContent:
          type: array
          items:
            $ref: "#/components/schemas/RankedContent"
        contentUuids:
          type: array
          items:
            type: string
        scoreBreakdown:
          type: object
          required: [engagementStrength, creatorDiversity, platformSpread, recencyStrength]
          properties:
            engagementStrength:
              type: number
            creatorDiversity:
              type: number
            platformSpread:
              type: number
            recencyStrength:
              type: number
    QueryTopTag:
      type: object
      required: [tag, frequency, avgEngagement, momentumScore]
      properties:
        tag:
          type: string
        frequency:
          type: integer
        avgEngagement:
          type: number
        momentumScore:
          type: number
        platformCount:
          type: integer
        engagementPremiumPct:
          type: number
        signalClass:
          type: string
          enum: [High Signal, Emerging, Established, Moderate]
    TagCombination:
      type: object
      required: [tagA, tagB, combination, cooccurrence, avgEngagementTogether, avgEngagementA, avgEngagementB, combinationLiftPct]
      properties:
        tagA:
          type: string
        tagB:
          type: string
        combination:
          type: string
        cooccurrence:
          type: integer
        avgEngagementTogether:
          type: number
        avgEngagementA:
          type: number
        avgEngagementB:
          type: number
        combinationLiftPct:
          type: number
    TagNarrativeRole:
      type: object
      required: [tag, frequency, dominantNarrativeId, dominantNarrativeLabel, exclusivity, role, platformCount, avgEngagement, engagementPremiumPct]
      properties:
        tag:
          type: string
        frequency:
          type: integer
        dominantNarrativeId:
          type: string
        dominantNarrativeLabel:
          type: string
        exclusivity:
          type: number
        role:
          type: string
          enum: [Signature, Bridge, Shared]
        platformCount:
          type: integer
        avgEngagement:
          type: number
        engagementPremiumPct:
          type: number
    QueryCreator:
      type: object
      required: [platform, handle, contentCount, totalEngagement, avgFinalScore, amplifierScore]
      properties:
        creatorId:
          type: integer
          nullable: true
        platform:
          type: string
        handle:
          type: string
        followerCount:
          type: integer
          nullable: true
        contentCount:
          type: integer
        totalEngagement:
          type: integer
        avgFinalScore:
          type: number
        amplifierScore:
          type: number
    PlatformOpportunity:
      type: object
      required: [narrativeId, narrativeLabel, dominantPlatform, platformDistribution, platformConcentration, avgEngagement, baselineEngagement, engagementPremiumPct, opportunityScore, contentCount, creatorCount, opportunity]
      description: Per-narrative platform-arbitrage signal. High `opportunityScore` = high engagement AND high platform concentration.
      properties:
        narrativeId:
          type: string
        narrativeLabel:
          type: string
        dominantPlatform:
          type: string
        platformDistribution:
          type: object
          additionalProperties:
            type: number
          description: Share of cluster content per platform, summing to 1.0.
        platformConcentration:
          type: number
          description: Dominant platform's share (0–1).
        avgEngagement:
          type: number
        baselineEngagement:
          type: number
          description: Mean engagement across all content in this query (global comparison point).
        engagementPremiumPct:
          type: number
        opportunityScore:
          type: number
        contentCount:
          type: integer
        creatorCount:
          type: integer
        opportunity:
          type: string
          description: Static fallback prose. Real arbitrage prose is in the response-level `insights` array.
    TagSignal:
      type: object
      required: [tag, count, dominantPlatform, platformConcentration, platformDistribution, avgEngagement, baselineEngagement, engagementPremiumPct, opportunityScore]
      description: Per-tag arbitrage signal. Tags need ≥3 occurrences to be reported. Sorted by `opportunityScore` desc.
      properties:
        tag:
          type: string
        count:
          type: integer
        dominantPlatform:
          type: string
        platformConcentration:
          type: number
        platformDistribution:
          type: object
          additionalProperties:
            type: number
        avgEngagement:
          type: number
        baselineEngagement:
          type: number
        engagementPremiumPct:
          type: number
        opportunityScore:
          type: number
    NarrativeAttributeLift:
      type: object
      required: [narrativeId, narrativeLabel, lifts]
      description: Per-narrative tag lift. Compares engagement with-tag vs without-tag inside the cluster (both groups need ≥3 rows).
      properties:
        narrativeId:
          type: string
        narrativeLabel:
          type: string
        lifts:
          type: array
          items:
            $ref: "#/components/schemas/AttributeLiftEntry"
    AttributeLiftEntry:
      type: object
      required: [tag, liftPct, countWith, countWithout, avgWith, avgWithout]
      properties:
        tag:
          type: string
        liftPct:
          type: number
          description: Positive = tag boosts engagement.
        countWith:
          type: integer
        countWithout:
          type: integer
        avgWith:
          type: number
        avgWithout:
          type: number
    CampaignBriefRequest:
      type: object
      required: [campaign]
      properties:
        campaign:
          type: string
          description: Free-text campaign description.
        audience:
          type: string
          description: Optional audience descriptor. Carried into the response context; not used as a retrieval filter.
        platforms:
          type: array
          items:
            type: string
        tone:
          type: string
          description: Optional tone hint. Carried into the response context; not used as a retrieval filter.
        limit:
          type: integer
          minimum: 100
          maximum: 50000
          default: 1000
        window:
          $ref: "#/components/schemas/QueryWindow"
    CampaignBriefResponse:
      type: object
      required: [id, createdAt, brief, context]
      properties:
        id:
          type: integer
        createdAt:
          type: string
          format: date-time
        brief:
          $ref: "#/components/schemas/CampaignBrief"
        context:
          $ref: "#/components/schemas/CampaignContext"
    CampaignBrief:
      type: object
      additionalProperties: true
      required: [campaign, positioning, narrativesToRide, emergingNarrativesToTest, topTags, creatorArchetypes, recommendedCreators, platformStrategy, contentAngles, evidence]
      properties:
        campaign:
          type: string
        positioning:
          type: array
          items:
            type: string
        narrativesToRide:
          type: array
          items:
            type: object
            additionalProperties: true
        emergingNarrativesToTest:
          type: array
          items:
            type: string
        topTags:
          type: array
          items:
            type: string
        creatorArchetypes:
          type: array
          items:
            type: string
        recommendedCreators:
          type: array
          items:
            type: object
            additionalProperties: true
        platformStrategy:
          type: array
          items:
            type: object
            additionalProperties: true
        contentAngles:
          type: array
          items:
            type: string
        evidence:
          type: array
          items:
            type: object
            additionalProperties: true
    CampaignContext:
      type: object
      additionalProperties: true
      required: [campaign, input, narratives, topTags, creators, representativeContent, sourceNarrativeIds, sourceContentUuids]
      properties:
        campaign:
          type: string
        input:
          type: object
          additionalProperties: true
        narratives:
          type: array
          items:
            type: object
            additionalProperties: true
        topTags:
          type: array
          items:
            type: string
        creators:
          type: array
          items:
            type: object
            additionalProperties: true
        representativeContent:
          type: array
          items:
            type: object
            additionalProperties: true
        sourceNarrativeIds:
          type: array
          items:
            oneOf:
              - type: integer
              - type: string
        sourceContentUuids:
          type: array
          items:
            type: string
    JobKind:
      type: string
      description: Discriminator for which pipeline runs the job.
      enum:
        - intelligence_search
        - intelligence_discover
        - campaign_brief
        - llm_context
    JobStatus:
      type: string
      enum:
        - queued
        - running
        - succeeded
        - failed
    JobSubmitRequest:
      description: Discriminated union by `kind`.
      oneOf:
        - $ref: "#/components/schemas/IntelligenceSearchJobRequest"
        - $ref: "#/components/schemas/IntelligenceDiscoverJobRequest"
        - $ref: "#/components/schemas/CampaignBriefJobRequest"
        - $ref: "#/components/schemas/LlmContextJobRequest"
      discriminator:
        propertyName: kind
        mapping:
          intelligence_search: "#/components/schemas/IntelligenceSearchJobRequest"
          intelligence_discover: "#/components/schemas/IntelligenceDiscoverJobRequest"
          campaign_brief: "#/components/schemas/CampaignBriefJobRequest"
          llm_context: "#/components/schemas/LlmContextJobRequest"
    IntelligenceSearchJobRequest:
      type: object
      required: [kind, input]
      description: Live retrieval — ranked content only.
      properties:
        kind:
          type: string
          enum: [intelligence_search]
        input:
          $ref: "#/components/schemas/QueryIntelligenceRequest"
    IntelligenceDiscoverJobRequest:
      type: object
      required: [kind, input]
      description: Live retrieval + narratives + LLM analytics + arbitrage signals.
      properties:
        kind:
          type: string
          enum: [intelligence_discover]
        input:
          $ref: "#/components/schemas/QueryIntelligenceRequest"
    CampaignBriefJobRequest:
      type: object
      required: [kind, input]
      description: Live discovery + persisted campaign brief.
      properties:
        kind:
          type: string
          enum: [campaign_brief]
        input:
          $ref: "#/components/schemas/CampaignBriefRequest"
    LlmContextJobRequest:
      type: object
      required: [kind, input]
      description: Same evidence bundle as `campaign_brief`, no prose, no save.
      properties:
        kind:
          type: string
          enum: [llm_context]
        input:
          $ref: "#/components/schemas/CampaignBriefRequest"
    JobSubmitAcceptedResponse:
      type: object
      required: [jobId, status, statusUrl]
      properties:
        jobId:
          type: string
        status:
          $ref: "#/components/schemas/JobStatus"
        statusUrl:
          type: string
          example: /intelligence/jobs/01931f7e-...
        dedup:
          type: boolean
          description: True when this `jobId` was reused for an in-flight identical request.
    JobSubmitCacheHitResponse:
      type: object
      required: [jobId, status, fromCache, result]
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [succeeded]
        fromCache:
          type: boolean
        result:
          description: |
            Per-kind result payload:
            `intelligence_search` → `IntelligenceSearchResponse`,
            `intelligence_discover` → `QueryNarrativeDiscoveryResponse`,
            `campaign_brief` → `CampaignBriefResponse`,
            `llm_context` → `LlmContextResponse`.
    Job:
      type: object
      required: [jobId, kind, status, submittedAt]
      properties:
        jobId:
          type: string
        kind:
          $ref: "#/components/schemas/JobKind"
        status:
          $ref: "#/components/schemas/JobStatus"
        submittedAt:
          type: integer
          format: int64
          description: Unix epoch ms — when the job was accepted.
        startedAt:
          type: integer
          format: int64
          description: Unix epoch ms — when the worker began processing.
        completedAt:
          type: integer
          format: int64
          description: Unix epoch ms — when the terminal result was written.
        result:
          description: |
            Present once `status: succeeded`. Per-kind payload:
            `intelligence_search` → `IntelligenceSearchResponse`,
            `intelligence_discover` → `QueryNarrativeDiscoveryResponse`,
            `campaign_brief` → `CampaignBriefResponse`,
            `llm_context` → `LlmContextResponse`.
            Large results are rehydrated transparently from object storage.
        error:
          type: string
          description: >-
            Present once `status: failed`. Human-readable failure reason.
